
<!DOCTYPE HTML>

<html>
	<head>
		<title>IMDb TV Series</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{=URL('static/template','assets/css/main.css')}}" />
	</head>
	<body>

  <div id="wrapper">

      <div id="main">
        <div class="inner">


            <header id="header">
            <a href="" class="logo">SEARCHED FOR: XYZ</a>
              <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
              </ul>
            </header>