{{extend 'template.html'}}
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
								
									<a href="{{=URL('default','index')}}" class="logo"><strong>HOMEPAGE</strong></a>
								
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
									</ul>
								</header>

								<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h2>{{=search_result['response']['docs'][0]['name']}}</h2><hr>
										</header><br>
										<p style="margin-top: -30px"><b>Summary:</b> {{=search_result['response']['docs'][0]['summary'][0]}}</p>
										<p style="margin-top: -30px"><b>Rate:</b> {{=search_result['response']['docs'][0]['rate'][0]}}</p>
										<p style="margin-top: -30px"><b>Vote:</b> {{=search_result['response']['docs'][0]['vote'][0]}}</p>
										<p style="margin-top: -30px"><b>Year:</b> {{=search_result['response']['docs'][0]['year'][0]}}</p>
										<p style="margin-top: -30px"><b>Genre:</b>
										{{for i in search_result['response']['docs'][0]['genre']:}}
										{{=i}}
										{{if i != search_result['response']['docs'][0]['genre'][-1]:}},{{pass}}
										{{pass}}
										</p>
									</div>
									<div style="width: 30%; margin-left:0;">
									<span class="image object">
										<img  src="{{=search_result['response']['docs'][0]['image'][0]}}" alt="" />
									</span>
									</div>
								</section>

						</div>
					</div>

				

			</div>
