{{extend 'template.html'}}

<!-- Num Found - Social Media -->

<header id="header">
  	<a class="logo">
	    <em style="font-style: inherit;color:#424242;">
	    {{=search_result['response']['numFound']}}</em> 
	    <em style="font-style: inherit;color:#757575;">
	    results for </em> 
	    <em style="text-transform: uppercase;font-style: inherit;color:#424242;">{{=search_result['responseHeader']['params']['q'].split(" AND ")[-1]}}
	    </em>
 	</a>
	<ul class="icons">
		<em style="text-transform: uppercase;font-style: inherit;color:#424242;">
			{{=search_result['responseHeader']['params']['fq'][0]}} |
			{{=search_result['responseHeader']['params']['fq'][1]}} |
			{{=search_result['responseHeader']['params']['fq'][2]}}
		</em>
	</ul>
</header>

<!-- Tv Series -->

<section>
	<div class="posts">
	{{for i in search_result['response']['docs']:}}
		<article align="center">
			<a href="{{=URL('default', 'details', args=i['id'])}}" class="image"><img src="{{=i['image'][0] or ""}}" style="width: 45%; margin:auto;" alt="" /></a>
			
			<h3>{{=i['name'] or ""}}</h3>
			<p style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{=i['summary'][0] or ""}}</p>

			<ul class="actions">
				<li><a href="{{=URL('default', 'details', args=i['id'])}}" class="button">More</a></li>
			</ul>
		</article>
	{{pass}}
	</div>
</section>

<!-- Pagination -->

{{if search_result['response']['numFound'] > 12:}}
<section>
	<ul class="pagination" style="margin-left: 35%">
	{{if int(page) == 1:}}
		<li ><span href="#" class="button disabled">Prev</span></li>
	{{else:}}
		<li ><a href="{{=URL('default', 'search', args=int(page)-1) }}?q={{=request.vars.q}}&catQuery={{=request.vars.catQuery or ''}}&yearQuery={{=request.vars.yearQuery or ''}}&rateQuery={{=request.vars.rateQuery or ''}}"><span class="button">Prev</span></a></li>
	{{pass}}

	{{import math}}
	{{upper_limit = int(math.ceil(search_result['response']['numFound']/12.0))}}
	{{if int(page)+9 < upper_limit:}}
		{{for i in range(int(page)-1,int(page)+9):}}
		<li><a href="{{=URL('default', 'search', args=i+1)}}?q={{=request.vars.q}}&catQuery={{=request.vars.catQuery or ''}}&yearQuery={{=request.vars.yearQuery or ''}}&rateQuery={{=request.vars.rateQuery or ''}}">{{=i+1}}</a></li>
		{{pass}}
	{{else:}}
		{{for i in range(int(math.ceil(search_result['response']['numFound']/12.0))):}}
		<li><a href="{{=URL('default', 'search', args=i+1)}}?q={{=request.vars.q}}&catQuery={{=request.vars.catQuery or ''}}&yearQuery={{=request.vars.yearQuery or ''}}&rateQuery={{=request.vars.rateQuery or ''}}">{{=i+1}}</a></li>
		{{pass}}
	{{pass}}
	{{if int(math.ceil(search_result['response']['numFound']/12.0)) == int(page):}}
	<li ><span href="#" class="button disabled">Next</span></li>
	{{else:}}
	<li><a href="{{=URL('default', 'search', args=int(page)+1) }}?q={{=request.vars.q}}&catQuery={{=request.vars.catQuery or ''}}&yearQuery={{=request.vars.yearQuery or ''}}&rateQuery={{=request.vars.rateQuery or ''}}" class="button">Next</a></li>
	{{pass}}
		<!-- &catQuery={{=request.vars.catQuery}}&yearQuery={{=request.vars.yearQuery}}&rateQuery={{=request.vars.rateQuery}} -->
	</ul>
</section>
{{pass}}
</div>
</div>

<!-- Filter Panel -->
<div id="sidebar">
	<div class="inner">
	<!-- Menu -->
	<nav id="menu">

		<header class="">
			<a href="{{=URL('default','index')}}"><img class="logo" style="width: 20%;" src="{{=URL('static/template1','assets/images/logo4.png')}}" /></a><hr>
		</header>

		<!-- Form -->
		<form method="get" action="{{=URL('default', 'search')}}">
			<div class="row uniform">
				<div class="12u$ 12u$(xsmall)">
					<input type="text" name="q" id="demo-name" placeholder="Search" value="{{=request.vars.q}}"/>
				</div>
				<!-- Break -->
				<div class="12u$">
					<div class="select-wrapper">
						<select name="catQuery" id="demo-category">
							<option value="">Category</option>
						{{for i in range(len(search_result['facet_counts']['facet_fields']['genre'])):}}
							{{if i%2 == 0:}}
							<option value="{{=search_result['facet_counts']['facet_fields']['genre'][i]}}">{{=search_result['facet_counts']['facet_fields']['genre'][i]}} ({{=search_result['facet_counts']['facet_fields']['genre'][i+1]}})</option>
							{{pass}}
						{{pass}}

						</select>
					</div>
				</div>
				<div class="4u 12u$(small)">
					<input type="radio" id="demo-priority-low" name="yearQuery" value="[1900 TO 1999]"> <!--checked-->
					<label for="demo-priority-low">1900s</label>
				</div>
				<div class="4u 12u$(small)">
					<input type="radio" id="demo-priority-normal" name="yearQuery" value="[2000 TO 2017]">
					<label for="demo-priority-normal">2000s</label>
				</div>
				<div class="4u$ 12u$(small)">
					<input type="radio" id="demo-priority-high" name="yearQuery" value="2017">
					<label for="demo-priority-high">2017</label>
				</div>
				<!-- Break -->
				<div class="4u 12u$(small)">
					<input type="radio" id="demo1" name="rateQuery" value="[7.0 TO 10.0]">
					<label for="demo1">7.0+</label>
				</div>
				<div class="4u 12u$(small)">
					<input type="radio" id="demo2" name="rateQuery" value="[8.0 TO 10.0]">
					<label for="demo2">8.0+</label>
				</div>
				<div class="4u$ 12u$(small)">
					<input type="radio" id="demo3" name="rateQuery" value="[9.0 TO 10.0]">
					<label for="demo3">9.0+</label>
				</div>


				<!-- Break -->
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Search" class="special"/></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</div>
			</div>
		</form>
	</nav>
</div>
</div>

</div>